<div class="flex justify-center">
  <%= form_with url: translation_requests_path, method: :post, html: { class: "w-full md:w-1/2 bg-gray-200 bg-white shadow-sm ring-1 ring-gray-900/5 sm:rounded-xl md:col-span-2" } do |form| %>
    <%= render "shared/form_errors", form: @form %>
    <div class="px-4 py-6 sm:p-8">
      <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        <div class="sm:col-span-3">
          <label for="first-name" class="block text-sm font-medium leading-6 text-gray-900">From (source languague)</label>
          <div class="mt-2">
            <%= form.select(:source_languague, [["Spanish", "es"], ["English", "en"]], {:include_blank => "Select", selected: @form.source_languague}, {:class => "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"} ) %>
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="last-name" class="block text-sm font-medium leading-6 text-gray-900">To (target languague)</label>
          <div class="mt-2">
            <%= form.select(:target_languague, [["Spanish", "es"], ["English", "en"]], {:include_blank => "Select", selected: @form.target_languague}, {:class => "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"} ) %>
          </div>
        </div>
      </div>

      <div class="mt-4">
        <label for="comment" class="block text-sm font-medium leading-6 text-gray-900">What would you like to translate?</label>
        <div class="mt-2">
          <%= form.text_area :translation_text, value: @form.translation_text, rows: 4, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
        </div>
      </div>
    </div>
    <div class="flex items-center justify-end gap-x-6 border-t border-gray-900/10 px-4 py-4 sm:px-8">
      <button type="button" class="text-sm font-semibold leading-6 text-gray-900">Cancel</button>
      <%= form.submit "Submit", class: "rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
    </div>
  <% end %>
</div>