<div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
  <% if @request_to_join_sv %>
    <!-- Card -->
    <div class="p-4 h-full relative flex flex-col bg-white border border-gray-200 rounded-xl dark:bg-neutral-800 dark:border-neutral-700">
      <div class="flex justify-between items-center gap-x-2">
        <h2 class="font-semibold text-gray-800 dark:text-neutral-200">
          Detaloj de via aliĝo-peto
        </h2>
        <span class="py-1 px-2 inline-flex items-center gap-x-1 text-xs font-semibold uppercase rounded-md bg-gradient-to-tr from-lime-500 to-teal-500 text-white"><%= @request_to_join_sv[:status] %></span>
      </div>

      <p class="mt-4 text-sm text-gray-600 dark:text-neutral-400">
        Nomo: <span class="font-semibold text-gray-800 dark:text-neutral-200"><%= @request_to_join_sv[:name] %></span>
      </p>

      <p class="mt-4 text-sm text-gray-600 dark:text-neutral-400">
        Denaska Lingvo: <span class="font-semibold text-gray-800 dark:text-neutral-200"><%= @request_to_join_sv[:denaska_lingvo] %></span>
      </p>
      <p class="mt-4 text-sm text-gray-600 dark:text-neutral-400">
        Esperanta Nivelo: <span class="font-semibold text-gray-800 dark:text-neutral-200"><%= @request_to_join_sv[:esperanta_nivelo] %></span>
      </p>

      <!-- Timeline -->
      <div class="mt-4">
        <p class="mt-4 text-sm text-gray-600 dark:text-neutral-400 bg-gray-100 dark:bg-neutral-700 p-4 rounded-md shadow-sm">
          Ni enorde ricevis vian aliĝo-peton kaj nia teamo baldaŭ kontaktos vin. Kaze ke vi volas informi nin pri io, bonvolu sendi retmesaĝon al kontakto@tradukaservo.com
        </p>
      </div>
      <!-- End Timeline -->
    </div>
    <!-- End Card -->
  <% else %>
    <%= link_to "Aliĝu al nia teamo", submit_request_to_join_path %>
  <% end %>
</div>