<!-- Card Section -->
<div class="max-w-2xl px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <!-- Card -->
  <div class="bg-white rounded-xl shadow p-4 sm:p-7 dark:bg-neutral-900">
    <div class="text-center mb-8">
      <h2 class="text-2xl md:text-3xl font-bold text-gray-800 dark:text-neutral-200">
        Aliĝi
      </h2>
      <p class="text-sm text-gray-600 dark:text-neutral-400">
        Bonvolu plenigi la suban formularon por sendi vian alĝo-peton.
      </p>
    </div>
    <% if @submit_request_to_join_form.errors.any? %>
      <%= render "shared/form_errors", form: @submit_request_to_join_form %>
    <% end %>

    <%= form_with model: @submit_request_to_join_form, url: submit_request_to_join_path, method: :post, local: true do |form| %>
      <!-- Section -->
      <div class="py-6 first:pt-0 last:pb-0 border-t first:border-transparent border-gray-200 dark:border-neutral-700 dark:first:border-transparent">
        <label for="name" class="inline-block text-sm font-medium dark:text-white">
          Nomo
        </label>

        <div class="mt-2 space-y-3">
          <%= form.text_field :name, id: "name", class: "py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600", placeholder: "Nomo", required: true %>
        </div>
      </div>
      <!-- End Section -->

      <!-- Section -->
      <div class="py-6 first:pt-0 last:pb-0 border-t first:border-transparent border-gray-200 dark:border-neutral-700 dark:first:border-transparent">
        <label for="native_language" class="inline-block text-sm font-medium dark:text-white">
          Denaska Lingvo
        </label>

        <div class="mt-2 space-y-3">
          <%= form.select :native_language, 
                          I18nData.languages('eo').map { |code, name| [name, code] }, 
                          { include_blank: "Elektu", selected: @submit_request_to_join_form.native_language }, 
                          { id: "native_language", class: "py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600", required: true } %>
        </div>
      </div>
      <!-- End Section -->

      <!-- Section -->
      <div class="py-6 first:pt-0 last:pb-0 border-t first:border-transparent border-gray-200 dark:border-neutral-700 dark:first:border-transparent">
        <label for="esperanto_level" class="inline-block text-sm font-medium dark:text-white">
          Esperanta nivelo
        </label>

        <div class="mt-2 space-y-3">
          <%= form.select :esperanto_level, 
                          [["Elementa (A1)", "A1"], ["Elementa (A2)", "A2"], ["Meza (B1)", "B1"], ["Meza (B2)", "B2"], ["Supera (C1)", "C1"], ["Supera (C2)", "C2"]], 
                          { include_blank: "Elektu", selected: @submit_request_to_join_form.esperanto_level }, 
                          { id: "esperanto_level", class: "py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600", required: true } %>
        </div>
      </div>
      <!-- End Section -->

      <div class="mt-5 flex justify-end gap-x-2">
        <a href="<%= esperantists_dashboard_path %>" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-800">
          Nuligi
        </a>
        <%= form.submit "Sendi", class: "py-2 px-3 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none" %>
      </div>
      <% end %>
    </div>
  <!-- End Card -->
</div>
<!-- End Card Section -->