<div class="mx-auto max-w-7xl px-2 sm:px-4 lg:px-8">
  <main>
    <div class="flex justify-between h-96">
      <div class="flex w-full items-center">
        <div class="text-center">
          <h1 class="text-4xl">Your translation request has been accepted.</h1>
          <p class="mt-4 text-lg">Our translators will start working on your translation as soon as possible.</p>
          <div class="mt-4 space-x-4">
            <%= link_to "My requests", dashboard_path, class: "rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
          </div>
        </div>
      </div>
      <div class="h-24 md:w-1/2"></div>
    </div>
  </main>
</div>