<div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
  <h2 class="text-base font-semibold leading-7 text-gray-900">Order Summary</h2>

  <p>From: <%= @translation_request.source_languague %></p>
  <p>To: <%= @translation_request.target_languague %></p>
  <p>Translation Text</p>
  <p><%= @translation_request.text %></p>

  <h2 class="text-base font-semibold leading-7 text-gray-900 mt-8">Payment Details</h2>
  <p>Amount: <%= number_to_currency(@translation_request.amount, unit: "€") %>
  <p class="text-xs">This amount does not include value added tax (VAT). VAT shall apply to private customers residing in the European  Union, to EU-based companies which do not have a VAT number, as well as  to Italian private customers and companies.</p>

  <h2 class="text-base font-semibold leading-7 text-gray-900 mt-8 mb-4">Billing Address</h2>
  <%= form_with url: translation_request_billing_address_path(@translation_request), method: :post, html: { class: "w-full md:w-1/2 bg-gray-200 bg-white shadow-sm ring-1 ring-gray-900/5 sm:rounded-xl md:col-span-2" } do |form| %>
    <%= render "shared/form_errors", form: @form %>
    <div class="px-4 py-6 sm:p-8">
      <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        <div class="sm:col-span-3">
          <label for="first-name" class="block text-sm font-medium leading-6 text-gray-900">Line 1 *</label>
          <div class="mt-2">
            <%= form.text_field :line1, value: @translation_requester.billing_address_line1, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="last-name" class="block text-sm font-medium leading-6 text-gray-900">Line 2 (optional)</label>
          <div class="mt-2">
            <%= form.text_field :line2, value: @translation_requester.billing_address_line2, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
          </div>
        </div>
      </div>

      <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 mt-4">
        <div class="sm:col-span-3">
          <label for="first-name" class="block text-sm font-medium leading-6 text-gray-900">City *</label>
          <div class="mt-2">
            <%= form.text_field :city, value: @translation_requester.billing_address_city, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="last-name" class="block text-sm font-medium leading-6 text-gray-900">Postal code (optional)</label>
          <div class="mt-2">
            <%= form.text_field :postal_code, value: @translation_requester.billing_address_postal_code, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
          </div>
        </div>
      </div>

      <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 mt-4">
        <div class="sm:col-span-3">
          <label for="first-name" class="block text-sm font-medium leading-6 text-gray-900">Country *</label>
          <div class="mt-2">
            <%= form.select(:country, [["The United States of America", "us"], ["Spain", "es"], ["Italy", "it"]], {:include_blank => "Select", selected: @translation_requester.billing_address_country}, {:class => "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"} ) %>
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="last-name" class="block text-sm font-medium leading-6 text-gray-900">State / Region (optional)</label>
          <div class="mt-2">
            <%= form.text_field :state, value: @translation_requester.billing_address_state, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
          </div>
        </div>
      </div>
    </div>
    <div class="flex items-center justify-end gap-x-6 border-t border-gray-900/10 px-4 py-4 sm:px-8">
      <%= form.submit "Set", class: "rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
    </div>
  <% end %>
</div>