<!-- Table Section -->
<div class="overflow-x-auto [&::-webkit-scrollbar]:h-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300 dark:[&::-webkit-scrollbar-track]:bg-neutral-700 dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500">
  <div class="min-w-full inline-block align-middle">
    <!-- Table -->
    <table class="min-w-full divide-y divide-gray-200 dark:divide-neutral-700">
      <thead>
        <tr>
          <th scope="col" class="w-1/6">
            <div class="pe-4 py-3 text-start flex items-center gap-x-1 text-sm font-medium text-gray-800 dark:text-neutral-200">
              Nomo
            </div>
          </th>
          <th scope="col" class="w-1/6">
            <div class="px-4 py-3 text-start flex items-center gap-x-1 text-sm font-medium text-gray-800 dark:text-neutral-200">
              Stato
            </div>
          </th>
          <th scope="col" class="w-1/6">
            <div class="px-4 py-3 text-start flex items-center gap-x-1 text-sm font-medium text-gray-800 dark:text-neutral-200">
              Denaska lingvo
            </div>
          </th>
          <th scope="col" class="w-1/6">
            <div class="px-4 py-3 text-start flex items-center gap-x-1 text-sm font-medium text-gray-800 dark:text-neutral-200">
              Esperanta nivelo
            </div>
          </th>
          <th scope="col">
          </th>
        </tr>
      </thead>

      <tbody class="divide-y divide-gray-200 dark:divide-neutral-700">
        <% @requests_to_join.each do |request| %>
          <tr>
            <td class="size-px whitespace-nowrap pe-4 py-3">
              <div class="w-full flex items-center gap-x-2">
                <div class="grow">
                  <span class="text-sm font-medium text-gray-800 dark:text-neutral-200">
                    <%= request[:name] %>
                  </span>
                </div>
              </div>
            </td>
            <td class="size-px whitespace-nowrap px-4 py-3">
              <span class="text-sm text-gray-600 dark:text-neutral-400">
                <%= request[:status] %>
              </span>
            </td>
            <td class="size-px whitespace-nowrap px-4 py-3">
              <span class="text-sm text-gray-600 dark:text-neutral-400">
                <%= request[:denaska_lingvo] %>
              </span>
            </td>
            <td class="size-px whitespace-nowrap px-4 py-3">
              <span class="text-sm text-gray-600 dark:text-neutral-400">
                <%= request[:esperanta_nivelo] %>
              </span>
            </td>
            <td class="size-px whitespace-nowrap px-4 py-3">
              <div class="flex gap-x-2">
                <%= link_to admins_requests_to_join_path(request[:esperantist_id]), class: "py-2 px-2.5 inline-flex items-center gap-x-1.5 text-xs font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-gray-50 dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-300 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" do %>
                  Vidi
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <!-- End Table -->
  </div>
</div>
<!-- End Table Section -->
