<div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
  <div>
    <div class="bg-white shadow sm:rounded-lg">
      <div class="px-4 py-5 sm:p-6">
        <h3 class="text-base font-semibold leading-6 text-gray-900">Detaloj pri la aliĝo peto</h3>
        <div class="mt-5">
          <p class="text-sm text-gray-600 dark:text-neutral-400">
            Nomo: <span class="font-semibold text-gray-800 dark:text-neutral-200"><%= @request_to_join[:name] %></span>
          </p>
          <p class="text-sm text-gray-600 dark:text-neutral-400">
            Stato: <span class="font-semibold text-gray-800 dark:text-neutral-200"><%= @request_to_join[:status] %></span>
          </p>
          <p class="text-sm text-gray-600 dark:text-neutral-400">
            Denaska Lingvo: <span class="font-semibold text-gray-800 dark:text-neutral-200"><%= @request_to_join[:denaska_lingvo] %></span>
          </p>
          <p class="text-sm text-gray-600 dark:text-neutral-400">
            Esperanta Nivelo: <span class="font-semibold text-gray-800 dark:text-neutral-200"><%= @request_to_join[:esperanta_nivelo] %></span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>