<div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
  <h2 class="text-base font-semibold leading-7 text-gray-900">Order Summary</h2>

  <p>From: <%= @translation_request.source_languague %></p>
  <p>To: <%= @translation_request.target_languague %></p>
  <p>Translation Text</p>
  <p><%= @translation_request.text %></p>

  <h2 class="text-base font-semibold leading-7 text-gray-900 mt-8">Payment Details</h2>
  <p>Amount: <%= number_to_currency(@translation_request.amount, unit: "€") %>
  <% @translation_request.taxes.each do |tax| %>
    <p><%= "#{tax["type"].upcase}(#{tax["percentage"]}%) #{number_to_currency(tax["amount"], unit: "€")}" %>
  <% end %>
  <p>Total: <%= number_to_currency(@translation_request.total, unit: "€") %>

  <div
    class="md:w-1/2"
    data-controller="stripe-pay-form"
    data-stripe-pay-form-customer-email-value="<%= @translation_requester.email %>"
    data-stripe-pay-form-button-text-value="Submit payment"
    data-stripe-pay-form-public-key-value="<%= Rails.application.credentials.stripe.publishable_key %>"
    data-stripe-pay-form-submit-payment-path-value="<%= translation_request_payments_path(@translation_request) %>">

    <%= form_with scope: :payment, url: dashboard_path, class: "flex items-baseline justify-between text-stone-900", data: { "stripe-pay-form-target": "form" } do |form| %>
    <% end %>

    <div id="card-element" class="mt-6"></div>
    <div role="alert" data-stripe-pay-form-target="errorContainer" class="bg-red-100 p-3 my-4 text-sm hidden"></div>
    <div class="mt-8">
      <div
        class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 text-center"
        data-stripe-pay-form-target="submit" data-action="click->stripe-pay-form#submit">
        Submit Payment
      </div>
    </div>
  </div>

  <h2 class="text-base font-semibold leading-7 text-gray-900 mt-8 mb-4">Billing Address</h2>
  <div class="w-full md:w-1/2 bg-gray-200 bg-white shadow-sm ring-1 ring-gray-900/5 sm:rounded-xl md:col-span-2">
    <div class="px-4 py-6 sm:p-8">
      <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        <div class="sm:col-span-3">
          <label for="first-name" class="block text-sm font-medium leading-6 text-gray-900">Line 1 *</label>
          <div class="mt-2">
            <%= @translation_requester.billing_address_line1 %>
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="last-name" class="block text-sm font-medium leading-6 text-gray-900">Line 2 (optional)</label>
          <div class="mt-2">
            <%= @translation_requester.billing_address_line2 %>
          </div>
        </div>
      </div>

      <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 mt-4">
        <div class="sm:col-span-3">
          <label for="first-name" class="block text-sm font-medium leading-6 text-gray-900">City *</label>
          <div class="mt-2">
            <%= @translation_requester.billing_address_city %>
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="last-name" class="block text-sm font-medium leading-6 text-gray-900">Postal code (optional)</label>
          <div class="mt-2">
            <%= @translation_requester.billing_address_postal_code %>
          </div>
        </div>
      </div>

      <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 mt-4">
        <div class="sm:col-span-3">
          <label for="first-name" class="block text-sm font-medium leading-6 text-gray-900">Country *</label>
          <div class="mt-2">
            <%= @translation_requester.billing_address_country %>
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="last-name" class="block text-sm font-medium leading-6 text-gray-900">State / Region (optional)</label>
          <div class="mt-2">
            <%= @translation_requester.billing_address_state %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>