<!DOCTYPE html>
<html data-controller="dark-mode">
  <head>
    <title>Traduka Servo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="dark:bg-neutral-800 dark:border-x-gray-700">
    <%= render "shared/dashboard_header" %>
    <main id="content">
      <div class="max-w-[85rem] mx-auto min-h-screen bg-white border-x-gray-200 py-10 px-4 sm:px-6 lg:px-8 xl:border-x dark:bg-neutral-800 dark:border-x-gray-700">
        <%= render "shared/dashboard_flash_messages" %>
        <%= yield %>
      </div>
    </main>
  </body>
</html>