<div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
  <div>
    <div class="bg-white shadow sm:rounded-lg">
      <div class="px-4 py-5 sm:p-6">
        <h3 class="text-base font-semibold leading-6 text-gray-900">Price per word</h3>
        <div class="mt-2 max-w-xl text-sm text-gray-500">
          <p>Price per word is used to calculate the price of translation requests.</p>
        </div>
        <%= form_with url: set_price_per_word_path, method: :post, html: { class: "mt-5 sm:flex sm:items-center" } do |form| %>
          <div class="w-full sm:max-w-xs">
            <label for="email" class="sr-only">Email</label>
            <%= form.number_field :price_per_word, value: @price_setting&.price_per_word, step: :any, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
          </div>
          <%= form.submit "Set", class: "mt-3 inline-flex w-full items-center justify-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 sm:ml-3 sm:mt-0 sm:w-auto" %>
        <% end %>
      </div>
    </div>
  </div>
</div>